@using MySite.Models
@model IEnumerable<Comment>

    <style type="text/css">
        body {
            margin-top: 20px;
        }

        /*.comment-wrapper .panel-body {
            max-height: 650px;
            overflow: auto;
        }*/

        .comment-wrapper .media-list .media img {
            width: 64px;
            height: 64px;
            border: 2px solid #e5e7e8;
        }

        .comment-wrapper .media-list .media {
            border-bottom: 1px dashed #efefef;
            margin-bottom: 25px;
        }
    </style>

    
                           
    <div class="clearfix"></div>
    <ul class="media-list">
        @foreach (Comment comment in Model)
        {
            <li class="media">
                @*<a href="#" class="pull-left">
                    <img src="#" alt="" class="img-circle">
                </a>*@
                <div class="media-body">
                    <span class="text-muted pull-right">
                        <small class="text-muted">@comment.Date</small>
                    </span>
                    <strong class="text-success">@comment.Author</strong>
                    <p>
                        @comment.Text
                    </p>
                </div>
            </li>
        }
    </ul>
   
    