<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=localhost;Initial Catalog=reply.demo_Core;User ID=coreuser;Password=Test12345" />
  <add name="master" connectionString="Data Source=localhost;Initial Catalog=reply.demo_Master;User ID=masteruser;Password=Test12345" />
  <add name="web" connectionString="Data Source=localhost;Initial Catalog=reply.demo_Web;User ID=webuser;Password=Test12345" />
  <add name="sessions" connectionString="user id=sa;password=12345;data source=.\SQL2016;database=Sitecore_Sitecore.Sessions" />
  <add name="exm.master" connectionString="Data Source=localhost;Initial Catalog=reply.demo_EXM.Master;User ID=exmmasteruser;Password=Test12345" />
  <add name="reporting" connectionString="Data Source=localhost;Initial Catalog=reply.demo_Reporting;User ID=reportinguser;Password=Test12345" />
  <add name="xdb.processing.tasks" connectionString="Data Source=localhost;Initial Catalog=reply.demo_Processing.Tasks;User ID=tasksuser;Password=Test12345" />
  <add name="experienceforms" connectionString="Data Source=localhost;Initial Catalog=reply.demo_ExperienceForms;User ID=formsuser;Password=Test12345" />
  <add name="messaging" connectionString="Data Source=localhost;Initial Catalog=reply.demo_Messaging;User ID=messaginguser;Password=Test12345" />
  <add name="xdb.processing.pools" connectionString="Data Source=localhost;Initial Catalog=reply.demo_Processing.Pools;User ID=poolsuser;Password=Test12345" />
  <add name="xdb.referencedata" connectionString="Data Source=localhost;Initial Catalog=reply.demo_ReferenceData;User ID=referencedatauser;Password=Test12345" />
  <add name="xdb.marketingautomation" connectionString="Data Source=localhost;Initial Catalog=reply.demo_MarketingAutomation;User ID=marketingautomationuser;Password=Test12345" />
  <add name="xconnect.collection" connectionString="https://reply.demo.xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=A9BEBC9B58E192489B0C274462B3704BC6A5681A" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://reply.demo.xconnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=A9BEBC9B58E192489B0C274462B3704BC6A5681A" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://reply.demo.xconnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=A9BEBC9B58E192489B0C274462B3704BC6A5681A" />
  <add name="xdb.referencedata.client" connectionString="https://reply.demo.xconnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=A9BEBC9B58E192489B0C274462B3704BC6A5681A" />
  <add name="solr.search" connectionString="http://localhost:8983/solr" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
  <add name="EXM.CryptographicKey" connectionString="0x0000000000000000000000000000000000000000000000000000000000000000" />
  <add name="EXM.AuthenticationKey" connectionString="0x0000000000000000000000000000000000000000000000000000000000000000" />
</connectionStrings>