<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:saved">
        <handler type="MySite.Handlers.NewPostCreationEventHandler, MySite" method="OnNewPostSaved"></handler>
      </event>
    </events>
  </sitecore>
</configuration>