<div class="col-md-6">
    <div class="feature_news_carousel">
        <div id="featured-news-carousal" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                @if (Model.Images.Count != 0)
                {
                    var i = 0;
                    foreach (var image in Model.Images)
                    {

                            <div class="item @(i == 0 ? "active" : null) feature_news_item">
                                <div class="item_wrapper">
                                    <div class="item_img">
                                        @Html.Sitecore().Field("Slider Image", @image, new { @class = "img-responsive" })
                                    </div> <!--item_img-->
                                    <div class="item_title_date">
                                        <div class="news_item_title">
                                            <h2><a href="single.html">Seamlessly embrace B2C catalysts for change vis-a-vis economically sound communities.</a></h2>
                                        </div>
                                        <div class="item_meta"><a href="#">20Aug- 2015,</a> by:<a href="#">Jhonson</a></div>
                                    </div> <!--item_title_date-->
                                </div>	<!--item_wrapper-->


                            </div><!--feature_news_item-->
                        i++;
                    }
                }


                <!-- Left and right controls -->
                <div class="control-wrapper">
                    <a class="left carousel-control" href="#featured-news-carousal" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </a>
                    <a class="right carousel-control" href="#featured-news-carousal" role="button" data-slide="next">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div><!--carousel-inner-->
        </div><!--carousel-->
    </div><!--feature_news_carousel-->
</div><!--col-md-6-->